html {
    background-image: -webkit-linear-gradient(to right, #c9ffbf, #ffafbd);
    background-image: linear-gradient(to right, #c9ffbf, #ffafbd);
}

nav {
    max-width: 900px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%,
            rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

nav ul li a.current {
    background-color: lightcyan;
}

h1 {
    text-align: center;
    color: chocolate;
    font-weight: bolder;
    position: relative;
    top: 20px;
}

#Six {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: end;
}

.one1 {
    padding-left: 6.5cm;
    color: crimson;
}

.one2 {
    padding-left: 5.9cm;
}

.one3 {
    padding-left: 2cm;
}

.one4 {
    padding-left: 1cm;
}
.Two1 {
    padding-left: 22cm;
    color: crimson;
}

.Two2 {
    padding-left: 21.5cm;
}

.Two3 {
    padding-left: 19cm;
}

.Three1 {
    padding-left: 6.5cm;
    color: crimson;
}

.Three2 {
    padding-left: 7.2cm;
}

.Three3 {
    padding-left: 2cm;
}

.Three4 {
    padding-left: 1cm;
}

.Four1 {
    padding-left: 22cm;
    color: crimson;
}

.Four3 {
    padding-left: 22.3cm;
}